:root {
    --primary-color: #E8241D;
    --primary-text: #333333;
}

.hero {
    height: 60vh; /* Fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d63c40;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
    width: 100%; 
    margin: 0;
    border-radius: 10px;
}

.hero--logo {
    width: 500px;
    margin-bottom: 30px;
}

.hero--tagline {
    font-family: Raleway;
    color: white;
    padding-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    font-size: 2.5rem;
    text-align: center;
    color: white;
}

.hero--button {
    margin-top: 30px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #f6311b 0, #d61518 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
}


.hero--button:focus {
  box-shadow: #bb0000 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bb0000 0 -3px 0 inset;
}

.hero--button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bb0000 0 -3px 0 inset;
  transform: translateY(-2px);
}

.hero--button:active {
  box-shadow: #bb0000 0 3px 7px inset;
  transform: translateY(2px);
}

.footer--heading {
    font-family: Raleway;
    margin-top: 30px;
    margin-bottom: 30px;
}

.skeleton--card {
    background: #e0e0e0;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skeleton--image {
    width: 100%;
    height: 150px;
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
}

.skeleton--title,
.skeleton--description {
    width: 80%;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    animation: skeleton--loading 1.5s infinite linear;
}

.skeleton--title {
    height: 30px;
}

@keyframes skeleton--loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}


.ind--episode--card--wrapper {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
 }

 .ind--episode--card--wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
 }
 

.landing--card {
    width: 200px;
    display: block; 
    margin: 20px auto; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.genre--title {
    padding-top: 20px;
    font-family: Raleway;
}

.shows--by--genre {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 20px;
}

.home--skeleton--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.home--skeleton--card {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home--skeleton--image {
    width: 100%;
    height: 150px;
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
}

.home--skeleton--title,
.home--skeleton--description {
    width: 80%;
    height: 20px;
    margin-top: 10px;
    background: linear-gradient(90deg, #e0e0e0, #f0f0f0, #e0e0e0);
    background-size: 200% 100%;
    animation: skeleton--loading 1.5s infinite linear;
}

.home--skeleton--title {
    height: 30px;
}


.home--card {
    width: 200px;
    display: block; 
    margin: 20px auto; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.home--card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


.card--image {
    width: 100%;
}

.card--title {
    font-weight: bold;
}

.card--info h3 {
    font-family: Roboto;
}

.card--info span {
    padding-bottom: 5px;
    font-family: Roboto;
    display: block;
}

.card--description {
    font-family: Roboto;
}

.modal--box {
    display: flex;
    align-items: center;
    position: fixed;
    width: 300px;
    height: 300px; 
    background: rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border: 1.8px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px; 
    z-index: 1000;
}

.modal--exit {
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/close.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.modal--header {
    margin-bottom: 20px;
}

.modal--content {
    text-align: center;
    font-family: Roboto;
    margin: 20px;
    color: var(--primary-text)
}

.login--form {
    display: flex;
    flex-direction: column;
}

.login--form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2); 
    margin-bottom: 10px;
    color: black
}

input[type=submit] {
    font-family: Raleway;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    background-color: #4CAF50; /* Button background color */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #45a049; /* Button hover effect */
}


.loggedIn--header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.loggedIn--header img {
    height: 50px;
}

.loggedIn--header button {
    background-image: url(../../src/assets/icons/user.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 40px;
    width: 40px; 
    cursor: pointer;
}

.navbar {
    font-family: Raleway;
    color: var(--primary-text);
    margin-bottom: 20px;
}

.navbar--title {
    font-size: 40px;
    font-weight: 800;
}

.showlist--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

.user--menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Roboto;
    width: 250px;
    height: auto;
    padding: 20px;
    position: absolute;
    right: 3%;
    top: 50px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border: 1.8px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    z-index: 1000;
}


.search--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.search--bar {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search--bar:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    outline: none;
}

select {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select:focus {
    border-color: #ff0000;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    outline: none;
}

option {
    padding: 10px;
}

.headerWithBack {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}

.headerWithBack--back {
    background-image: url(../../src/assets/icons/back-arrows.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.headerWithBack--account {
    background-image: url(../../src/assets/icons/user.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 40px;
    width: 40px; 
    cursor: pointer;
}

.share--button {
    background-image: url(/src/assets/share-icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 40px;
    width: 40px; 
    cursor: pointer;
}

.share--button:hover {
    transform: translateY(-5px);
}
.show--wrapper {
    font-family: Raleway;
    color: var(--primary-text);
}

.show--wrapper a {
    background: #ff3b42;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
    width: 200px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.show--wrapper a:hover {
    background: #ff0008;
}


.show--desc {
    font-family: Roboto;
}

.show--title--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show--title--wrapper h1 {
    margin-right: 12px;
}

.show--hero {
    display: block;
    margin: auto;
    text-align: center;
}

.show--hero h2 {
    padding-bottom: 12px;
}

.show--hero img {
    width: 300px;
    display: block; 
    margin: 20px auto;
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.season--wrapper {
    font-family: Raleway;
    color: var(--primary-text);
}

.season--details {
    display: block;
    text-align: center;
}

.season--details img {
    width: 300px;
    margin: 20px auto; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.audio--player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
}

.title--wrapper {
    display: flex;
    align-items: center;
}

.play--button {
    background-image: url(/src/assets/play.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 20px;
    width: 20px;
    margin-left: 10px; 
    cursor: pointer;
}

.play--button:hover {
    background-image: url(/src/assets/playhover.png);
}

.favourite--button {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.favourite--icon {
    width: 20px;
    cursor: pointer;
}

.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 10px 0;
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
      background-color: #e0e0e0;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #e0e0e0;
    }
  }

.show--skeleton--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show--skeleton--title {
    width: 60%;
    height: 2em;
}

.show--skeleton--genres {
    width: 40%;
    height: 1.5em;
}

.show--skeleton--hero {
    width: 300px;
    height: 300px;
}

.show--skeleton--updated {
    width: 30%;
    height: 1.2em; 
}

.show--skeleton--link {
    width: 50%;
    height: 1.2em;
}

.show--skeleton--desc {
    width: 100%;
    height: 100px;
}

.season--skeleton--title {
    width: 30%;
    height: 2em;
}

.season--skeleton--dropdown {
    width: 10%;
    height: 1.2em; 
}

.delete--button {
    background-image: url(/src/assets/trash.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 20px;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.fave--episode--wrapper {
    font-family: Raleway;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.fave--episode--wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.fave--title--wrapper {
    display: flex;
    align-items: center;
}

.fave--date--added {
    margin-right: 20px;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.fave--form {
    margin-bottom: 20px;
}

.fave--show--title {
    font-family: Raleway;
    text-align: center;
}

.fave--hero {
    width: 300px;
    display: block; 
    margin: 20px auto;
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fave--dropdown {
    margin-right: 10px;
}

.fave--navbar--wrapper {
    display: flex;
    align-items: center;
}

.fave--navbar--wrapper h1 {
    margin-right: 15px;
}

.watched--wrapper {
    display: flex;
    align-items: center;
}

.watched--wrapper h4 {
    font-size: 15px;
    margin-right: 10px;
    font-weight: 400;
}

.watched--wrapper img {
    width: 15px;
}

.fave--watched--wrapper {
    display: flex;
    align-items: center;
}

.delete--history--button {
    cursor: pointer;
    text-align: center;
}

.user--menu a,
.delete--history--button {
    display: block;
    width: 200px;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background: #ff3b42;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background 0.3s ease;
}

.user--menu a:hover,
.delete--history--button:hover {
    background: #ff0008;
}


.popup {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -100%);
    white-space: nowrap;
    z-index: 1000;
}

.shareable--fave--header {
    margin-top: 20px;
    display: block;
    text-align: center;
    font-family: Raleway;
    color: var(--primary-text);
}

.shareable--fave--header img {
    cursor: pointer;
    width: 500px;
}

