:root {
    --primary-color: #E8241D;
    --primary-text: #333333;
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero--logo {
    width: 500px;
}

.hero--tagline {
    font-family: Raleway;
    color: #333;
    padding-bottom: 40px;
}

.hero--button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #f6311b 0, #d61518 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 20px;
}


.hero--button:focus {
  box-shadow: #bb0000 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bb0000 0 -3px 0 inset;
}

.hero--button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #bb0000 0 -3px 0 inset;
  transform: translateY(-2px);
}

.hero--button:active {
  box-shadow: #bb0000 0 3px 7px inset;
  transform: translateY(2px);
}

.footer {
    display: flex;
}

.footer--heading {
    font-family: Raleway;
    padding-bottom: 20px;
}

.card--wrapper {
   padding-left: 20px;
   padding-right: 20px;
   display: flex;
}

.card {
    width: 200px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px;
}


.card--image {
    width: 100%;
}

.card--title {
    font-weight: bold;
}

.card--info h3 {
    font-family: Roboto;
}
.card--info span {
    padding-bottom: 5px;
    font-family: Roboto;
    display: block;
}

.card--description {
    font-family: Roboto;
}

.modal--box {
    position: fixed; 
    width: 400px;
    height: 400px; 
    border-radius: 10px;
    background-color: white; 
    border: solid black;
}

.modal--exit {
    width: 20px;
    height: 20px;
    background-image: url('/src/assets/close.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal--header {
    margin-bottom: 100px;
}

.modal--content {
    font-family: Archivo Black;
    margin: 20px;
    color: var(--primary-text);
}

.login--form {
    display: flex;
    flex-direction: column;
}

.login--form input {
    margin-bottom: 10px;
}

.loggedIn--header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.loggedIn--header img {
    height: 50px;
}

.loggedIn--header button {
    background-image: url(/src/assets/user.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    background-color: white;
    height: 30px;
    width: 30px; 
}

.navbar {
    font-family: Raleway;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.navbar--title {
    font-size: 40px;
    font-weight: 800;
}

.showlist--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}
